* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#title {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 25px;
}

/* Added classes on drawGrid function */

#game {
    display: grid;
    place-items: center;
    width: 100%;
    row-gap: 1rem;
    margin-top: 25px;
}

.word {
    display: flex;
    gap: 0.5rem;
}

.cell {
    width: 4rem;
    height: 4rem;
    border: 1.5px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Keyboard */

#footer {
    padding: 1rem;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
    text-align: center;
}

#keyboard {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.row {
    display: flex;
    justify-content: center;
    gap: .25rem;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    border-radius: .25rem;
    font-size: .9rem;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.2s;
}

.key:hover {
    background-color: #ddd;
}

.animated {
    animation: flip 0.5s ease;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.win {
    animation: jump .7s ease-in-out;
}

/* win anim */

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    } 50% {
        transform: translateY(-15px);
    }
}

/* not valid word / not completed row */

.error {
    animation: earthquake .7s ease-in-out;
}

@keyframes earthquake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

#modal .hidden {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}
